{% extends 'users/staff_dashboard.html' %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">
        {% if form.instance.id %}
            Update Course
        {% else %}
            Create Course
        {% endif %}
    </h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="{% if form.instance.id %}update_course{% else %}create_course{% endif %}" class="btn btn-primary">
                    {% if form.instance.id %}Update Course{% else %}Create Course{% endif %}
                </button>
                {% if form.instance.id %}
                <form method="POST" action="{% url 'create-course' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value="{{ form.instance.id }}">
                    <button type="submit" name="delete_course" class="btn btn-danger">Delete Course</button>
                </form>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<div class="containe mt-5">
    <h2 class="text-center">Your Courses</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary mb-1">
                                {{ course.course_name }}
                            </div>
                            <div class="mb-0 font-weight-bold text-gray-800">
                                {{ course.description }}
                            </div>
                            <a href="{% url 'create-course' %}?course_id={{ course.id }}">Edit</a>
                            <form method="post" action="{% url 'create-course' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="course_id" value="{{ course.id }}">
                                <button type="submit" name="delete_course" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href="{% url 'student-mapp-courses' %}"> COURSE CREATION FOR STUDENTS </a>

{% endblock %}
