{% extends 'users/staff_dashboard.html' %}

{% block body %}


<h1>Upload User Data</h1>
<form method="post" enctype="multipart/form-data"action="{% url 'Trainer-approval' %}">
    {% csrf_token %}
    <input type="file" name="excel_file" required>
    <button type="submit">Upload</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}


