{% extends 'users/staff_dashboard.html' %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        {% for asana in trainer_asanas %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <h5 class="font-weight-bold text-primary mb-1">
                                {{ asana.course_name }}
                            </h5>
                            <div class="mb-0 font-weight-bold text-gray-800 custom-bullets">
                                <ul>
                                    {% for asana_detail in asana.asanas_by_trainer.all %}
                                    <li>
                                        <a href="{% url 'user-view-posture' asana_detail.id %}">
                                            {{ asana_detail.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Removed the arrow section -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}