{% extends 'users/staff_dashboard.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="container">
        <a href="{% url 'create-asana' slug=tenant.slug %}" id="create-asana-link">
            <button type="button" id="create-asana-button" class="btn btn-primary mb-5">Create Asana</button>
        </a>
    </div>
    
    <div class="row">
        <p class="col-12">Your Asanas</p>
        {% for trained_asana in trained_asanas %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2" id="asana-container-{{ trained_asana.id }}">
                            <div class="font-weight-bold text-primary mb-1"id="asana-name-{{ trained_asana.id }}">{{ trained_asana.name }}</div>
                            <div class="mb-0 font-weight-bold text-gray-800" id="asana-posture-{{ trained_asana.id }}">{{ trained_asana.no_of_postures }} postures</div>
                            <a href="{% url 'create-asana' slug=tenant.slug  %}?update=1&asana_id={{ trained_asana.id }}"class="btn btn-info btn-sm">Edit</a>
                            <form method="post" id="asana_form" action="{% url 'create-asana' slug=tenant.slug  %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="asana_id" value="{{ trained_asana.id }}">
                                <button type="submit"id="delete-button-{{ trained_asana.id }}" name="delete_asana" onclick="del_asana('{{ trained_asana.id }}')" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'view-posture' trained_asana.id slug=tenant.slug  %}">
                                <i class="fas fa-arrow-right fa-2x text-gray-300"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No asanas available.</p>
        {% endfor %}
    </div>
</div>



<script>
    function del_asana(asana_id) {
    console.log(asana_id);

    // Get the delete button element by its ID
    var deleteButton = document.getElementById  ('delete-button-' + asana_id);
    console.log(deleteButton);
    
   
    if (deleteButton) {
       deleteButton.addEventListener('click',function(e){
        deleteButton.disabled = true;
        e.preventDefault()
        
       },{once:true})
       
    } else {
        console.error('Delete button not found!');
    }
}
 
    
        function submit_form() {
        $("#asana_form").submit();

    }


</script>
{% endblock %}
